.nav{
    background-color: #153E90;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    border: none;
    margin: 10px;
    width: 70px;
    height: 25px;
    border-radius: 5px;
}

.btn:hover{
    cursor: pointer;
    background-color: #FFFAA4;
}
