.contenedor{
    background-color: #032D3C;
    width: 100%;
    height:905px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    background-color: white;
    width: 500px;
    height: 350px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label{
    margin: 6px;
}

.button{
    margin: 10px;
    border: 1px solid #032D3C;
    border-radius: 3px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #032D3C;
}

.button:hover{
    cursor: pointer;
    background-color: white;
    border: 1px solid #4BE3AC;
    color: #4BE3AC;
}

.alerts{
    color: red;
    font-family: sans-serif;
    font-size: 9px;
    margin: none;
}

@media screen and (max-width:1100px){
    .form{
        width: 350px;
    }
}
 
@media screen and (max-width:600px){
    .form{
        width: 350px;
    }
}
 
@media screen and (max-width:450px){
    .form{
        width: 300px;
    }
}
 
@media screen and (max-width:300px){
    .form{
        width: 200px;
    }
}