.barra{
    padding: auto;
}


.input{
    width: 200px;
    height: 25px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    font-family: monospace;
}

.boton{
    background-color: white;
    border: none;
    width: 70px;
    height: 25px;
    border-radius: 5px;
    font-family: monospace;
    font-size: 15px;
}

.boton:hover{
    cursor: pointer;
    background-color: #FFED00;
    color: black;
}
